<!DOCTYPE html>
<html>

<head>
<title>{{title}}</title>
<link rel="icon" href="/Images/cloud.png">
<link rel="stylesheet" href="CSS/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div id="about">
            <img src="/Images/games.png" style="width: 250px;height: 250px;">
            <p>Krishna Sonawane <br> Bachlores in Information Technology, AISSMS Institute of Information Technology, Pune.<br>
            Contact - www.k23sonawane@gmail.com<br>
            </p>


            <img src="/Images/facebook.png" style="width: 25px;height: 25px;">
            <img src="/Images/github.png" style="width: 25px;height: 25px;">
            <img src="/Images/gmail.png" style="width: 25px;height: 25px;">
            <img src="/Images/instagram.png" style="width: 25px;height: 25px;">
            <img src="/Images/linkedin.png" style="width: 25px;height: 25px;">
        </div>
    </div>

    {{>footer}}
</body>

</html>
