<!DOCTYPE html>
<html>

<head>
<title>{{title}}</title>
<link rel="icon" href="/Images/cloud.png">
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
    {{>header}}

    <p>
        1. Enter The Valid Location Name that you want to Search Weather for.<br>
        2. Hit Enter/ Press Search Button. <br>
        3. Measurements are in SI units.
    </p>
    </div>

    {{>footer}}
</body>

</html>
