<!DOCTYPE html>
<html>

<head>
<title>{{title}}</title>
<link rel="icon" href="/Images/cloud.png">
<link rel="stylesheet" href="CSS/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Weather Application for Weather Forecast of your Location.</h3>
        <form class='search'>
            <p>Enter Location Name for Weather Forcast.</p>
            <input id='find' type="text" placeholder="Location" required>
            <button>Search</button>
        </form>
        <div id="msgSpace"></div>
        <div id='msg'></div>
    </div>
    
    {{>footer}}

<script src="Script/script.js"></script>
</body>

</html>
