<footer>
    <p>Created By - {{name}}</p>
    <img src="/Images/facebook.png" style="width: 25px;height: 25px;">
    <img src="/Images/github.png" style="width: 25px;height: 25px;">
    <img src="/Images/gmail.png" style="width: 25px;height: 25px;">
    <img src="/Images/instagram.png" style="width: 25px;height: 25px;">
    <img src="/Images/linkedin.png" style="width: 25px;height: 25px;">
</footer>